<html>
<head>
    <title>Dem Shoes</title>
</head>
<body>
    <h1>Dem Shoes Directory</h1>

    {% if stores is not empty %}
        <h2>Store: </h2>
        <ul>
            {% for store in stores %}
                <li><a href="/stores/{{ store.getId }}">{{ store.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
            <h2>oops, sorry we're just starting our business and have nothing to show.  Please be kind and enter in a shoe store unknown to most</h2>
    {% endif %}

    <form action='/stores' method='post'>
        <label for='store_name'>Store name:</label>
        <input id='store_name' name='store_name' type='text'>
        <button type='submit'>Add Store:</button>
    </form>
        <form action='/delete_stores' method='post'>
            <button type='submit'>Clear all Stores</button>
        </form>

    {% if brands is not empty %}
        <p>Brands</p>
        <ul>
            {% for brand in brands %}
                <li><a href="/brands/{{ brand.getBrandId }}">{{ brand.getBrandName }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h2>Please add some of your weirdest brands!</h2>
    {% endif %}

    <form action='/add/brand' method='post'>
        <label for='brand_name'>Brand name:</label>
        <input id='brand_name' name='brand_name' type='text'>
        <button type='submit'>Add Brand:</button>
    </form>
        <form action='/delete_brands' method='post'>
            <button type='submit'>Clear all Brands</button>
        </form>
</body>
</html>
